#
# Copyright (C) 2023 The 2by2 Project
#
# SPDX-License-Identifier: Apache-2.0
#

on post-fs
    mount none /system/etc/audio/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
